* {
    margin: 0;
    padding: 0;
    font-family: 'Fira code';
}

body {
    color: deeppink;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

main {
    margin: auto;
}

.main-section{
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.8rem;
}

header .main-nav {
    display: flex;
    justify-content: space-between;
    background-color: papayawhip;
}

.logo{
    padding: 0.5rem;
}

.nav-items--container {
    display: flex;
    list-style:none;
}

.nav-item{
    padding: 0.5rem;
}