* {
    margin: 0;
    padding: 0;
    font-family: 'Fira code';
}

header .main-nav {
    display: flex;
    justify-content: space-between;
    background-color: papayawhip;
}

.logo{
    padding: 0.5rem;
}

.nav-items--container {
    display: flex;
    list-style:none;
}

.nav-item{
    padding: 0.5rem;
}