* {
  margin: 0;
  padding: 0;
  font-family: "Fira code";
}

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

main {
  margin: 8rem;
}

.main-section {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.8rem;
}

header .main-nav {
  display: flex;
  justify-content: space-between;
  background-color: papayawhip;
}

.logo {
  padding: 0.5rem;
}

.nav-items--container {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.profile-container {
  width: 2rem;
  height: 2rem;
}
.profile-img {
  width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: brown;
    color: papayawhip;
  }

footer ul {
    list-style: none;
}

.more-information ul{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.thanks-text{
    border-top: 1px solid burlywood;
    padding: 0.5rem;
}



